 /* <uniquifier>: Use a unique and descriptive class name */
 /* <weight>: Use a value from 100 to 700 */

/* .roboto-mono-html {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
} */
.en {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

 /* <uniquifier>: Use a unique and descriptive class name */
 /* <weight>: Use a value from 100 to 900 */

/* .noto-sans tc-html {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
} */
.zh {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

html {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }