 /* <uniquifier>: Use a unique and descriptive class name */
 /* <weight>: Use a value from 100 to 700 */

/* .roboto-mono-html {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
} */

 /* <uniquifier>: Use a unique and descriptive class name */
 /* <weight>: Use a value from 100 to 900 */

/* .noto-sans tc-html {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
} */

/** {
    box-sizing: border-box;
    border: solid ;
    border-color: rgb(236, 156, 209);
    
}
 body{
    display: inline-block;
}
.navbar-brand {
    display: inline-block;
    box-sizing: border-box;
}
div{
    display: inline-block;
    
    border-color: rgb(176, 224, 230);
}
pre a {
    text-decoration: none;
    border-color: rgb(156, 236, 156);
}


.t1{ 
    font-family: "Roboto Mono", monospace;
}
.t2{
    font-family: "Noto Sans TC", sans-serif;
} */

html{
    margin: 0;
    padding: 0;
}

h1.logo{
    color: darkblue;
    background-image: url(/intern/images/logo.svg);
    background-repeat: no-repeat;
    background-size: 56%;
    background-position: left;
    width: 150px;
    text-indent: -9999px;
}
#navbarSupportedContent {
    border:solid;
  /*   display:flex; */
    justify-content: flex-end;
  }
.title{
    
    display:grid;
    justify-content: center;
    text-align: center;
}


